# Dossiers spécifiques à Visual Studio
.vscode/
.vs/
/bin/
/obj/
/Shallow_Water/out/


# Fichiers générés par CMake
/CMakeFiles/
/CMakeCache.txt
/CMakeScripts/
/CMakeScripts/
/CMakeTmp/

# Dossier de build généré par CMake
/Shallow_Water/build/

# Fichiers de projet Visual Studio
*.suo
*.user
*.userprefs
*.sln.docstates

# Fichiers d'historique Visual Studio
ipch/
*.sdf
*.opensdf
*.sln.docstates

# Fichiers de cache CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
/CMakeScripts/
CMakeTmp/
/CMakeTmp/

# Fichiers de solution Visual Studio
*.sln
*.suo
*.user
*.userprefs
